$backgroundColor: #11305C;

$buttonColor: #E62254;
$buttonTextColor: #F0F0F0;

$filterBackgroundColor: #4A4A4A;
$filterOptionTextColor: #D3D3D3;

$inputPadding: 0.5rem;
$filterMargin: $inputPadding;

.Search {
  background-color: $backgroundColor;
  height : 100%;
  padding-bottom: 1rem;

  .button-container {
    border: 1px solid silver;
    margin: 1rem 20% 0;
  }

  .checkbox-container {
    margin: 1rem 0.75rem;
  }

  .input-container {
    padding: calc(2*#{$inputPadding}) $inputPadding;
  }

  .radio-container {
    margin: 0.8rem 0.75rem;
  }

  .js-arrow-up-icon {
    background-image: url("./assets/arrow_up.svg");
    background-repeat: no-repeat;
    background-position: 0 60%;
    background-size: 1.8rem auto;
  }

  .js-arrow-down-icon {
    background-image: url("./assets/arrow_down.svg");
    background-repeat: no-repeat;
    background-position: 0 60%;
    background-size: 1.8rem auto;
  }

  .filter {
    background-color: $filterBackgroundColor;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.75);
    margin: 0 $filterMargin;
    padding: 0;
  }

  .filter-head span{
    color: white;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 2rem 0;
  }

  .filter-body {
    border-top: 1px solid black;
    margin: 0.3rem 2rem;
    padding: 0.3rem 0;
  }

  .option-group {
    margin-right: 10%;

    &:not(:first-of-type) {
      padding: 0.3rem 0;
      border-top: 1px solid white;
    }
  }

  .option-header {
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
  }

  .clickable {
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
  }

  .to-red:hover {
    background-color: red;
  }

  .to-black:hover {
    background-color: black;
  }

  button {
    background-color: $buttonColor;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.75);
    color: $buttonTextColor;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    padding: 0.5rem 2rem;
  }

  input[type="search"] {
      border-radius: 5px;
      font-size: 1.5rem;
      padding: $inputPadding 0;
      width: 100%;
  }

  input[type="checkbox"] {
    transform: scale(2.5);
  }

  input[type="checkbox"]:last-of-type {
    margin-bottom: 0.5rem;
  }

  input[type="radio"] {
    transform: scale(2);
  }

  label {
    color: $filterOptionTextColor;
    font-size: 1.25rem;
    padding: 0 0.75rem;
  }

  select {
      display: block;
      font-size: 1.25rem;
      font-weight: bold;
      margin: 0.5rem;
      padding: 0.25rem 0;
  }
}

/**************************************
  MEDIA QUERIES PARA LAYOUT RESPONSIVO
 **************************************/

@media screen and (min-width: 1080px) {
  .Search {
    .button-container {
      margin: 1rem 30% 0;
    }
  }
}

@media screen and (min-width: 1380px) {
  .Search {
    .button-container {
      margin: 1rem 30% 0;
    }

    .filter-head span,
    input[type="search"],
    button{
      font-size: 1.75rem;
    }

    .option-header,
    label,
    select {
      font-size: 1.5rem;
    }
  }
}